<div>
<%= form_tag do %>
<fieldset>
  <legend><%= t '.please_log_in' %> </legend>

  <div>
    <label for="name"><%= t '.name' %></label>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div>
    <label for="password"><%= t '.password' %></label>
    <%= password_field_tag :password, params[:password] %>
  </div>

  <div>
    <%= submit_tag t '.login' %>
  </div>
</fieldset>
<% end %>

</div>
