<h1>Listing custom_data</h1>

<%= render :partial => 'custom-graph' %>

Show <%= select_tag :per_page, options_for_select([7,14,30,90,180,365], @per_page), :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
<%= will_paginate @custom_data %>

<table>
  <tr>
    <th>date</th>
    <th>name</th>
    <th>value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @custom_data.each do |custom_datum| %>
  <tr>
    <td><%= custom_datum.date %></td>
    <td><%= custom_datum.name %></td>
    <td><%= custom_datum.value %></td>
    <td><%= link_to 'Show', custom_datum %></td>
    <td><%= link_to 'Edit', edit_custom_datum_path(custom_datum) %></td>
    <td><%= link_to 'Destroy', custom_datum, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Clear all', { :controller => 'custom_data', :action => 'clear' }, :confirm => 'Are you sure?' %>
<%= link_to 'New Custom datum', new_custom_datum_path %>
