<h2>Contact</h2>

<p>Feel free to contact me at <a href="https://github.com/MoriTanosuke/FitbitAnalyzr">the project page for Fitbit Analyzr</a>.</p>

<%= form_tag('/feedback') do %>

<div class="field">
  <%= label :feedback, :email, 'Email:' %><br />
  <%= text_field :feedback, :email %>
</div>

<div class="field">
  <%= label :feedback, :subject, 'Subject:' %><br />
  <%= text_field :feedback, :subject %>
</div>

<div class="field">
  <%= label :feedback, :text, 'Text:' %><br />
  <%= text_area :feedback, :text %>
</div>

<%= recaptcha_tags %>

<%= submit_tag 'Send' %>

<% end %>
