<h2>Welcome to Fitbit Analyzr</h2>
<% if session[:user_id] != nil %>
  <% if User.find_by_id(session[:user_id]).fitbit.nil? %>
    <p><%= image_tag "fitbit/fitbit_logo_dark_100px.png" %> <%= button_to 'Connect to fitbit', oauth_consumers_path + "/fitbit", :method => 'get' %></p>
  <% else %>
    <p><%= image_tag "fitbit/fitbit_logo_dark_100px.png" %></p>
    <p><%= button_to 'Disconnect', '/deauthorize' %></p>
  <% end %>
  <p>You can always <%= link_to 'delete your account', '/delete' %> and all your data will be removed with it.</p>
<% end %>

<h2>Latest Changes</h2>
<h3>July 2012</h3>
<ul>
<li>Display all sleep data</li>
</ul>
<h3>Older</h3>
<ul>
<li>Control how much data points are displayed via selectbox</li>
<li><%= link_to 'Contact me', contact_path %> via form</li>
<li>Add a subscription to automatically update your data</li>
<li>Browse through data page by page</li>
<li>Import food <b>and nutritional data</b></li>
<li>Import activities</li>
<li>Import body weight</li>
<li>Import sleep</li>
<li>Disconnect fitbit</li>
<li>Connect to fitbit</li>
<li>Login/Logout</li>
</ul>

<h2>Known Issues/Missing Features</h2>
<ul>
<li>Sleep <em>start date</em> isn't transferred correctly</li>
<li>Import all other data</li>
<li>Apply tags to days</li>
<li>Display several charts into one huge chart</li>
</ul>

<p>If you have any issues with this site, go to <a href="https://github.com/MoriTanosuke/FitbitAnalyzr/issues?state=open">the issue tracker</a>. There might even be <a href="https://github.com/MoriTanosuke/FitbitAnalyzr/wiki">some kind of documentation available</a>.
