<h1>Listing imports</h1>

<table>
  <tr>
    <th>User</th>
    <th>Date</th>
    <th>Range</th>
    <th>Data</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @imports.each do |import| %>
  <tr>
    <td><%= import.user %></td>
    <td><%= import.date %></td>
    <td><%= import.range %></td>
    <td><%= render :partial => "body-weight-graph", :locals => { :import => import } %></td>
    <td><%= link_to 'Show', import %></td>
    <td><%= link_to 'Edit', edit_import_path(import) %></td>
    <td><%= link_to 'Destroy', import, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Import', new_import_path %>
