<div id="sleep-graph"></div>
<script type="text/javascript">
var chart1; // globally available
$(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: { renderTo: 'sleep-graph', type: 'line' },
         title: { text: 'Sleep over time' },
         xAxis: { type: 'datetime' },
         yAxis: [{ title: { text: 'Minutes' } },
                 { title: { text: 'Start times' },
                   labels: {
                     formatter: function() {
                       return this.value() + 'h';
                     }
                   },
                   opposite: true }],
         tooltip: {
            formatter: function() {
              if(this.series.name == 'Start time') {
                return (this.y + '').replace(/(.{2})/, '$1:') + 'h';
              } if(this.series.name == 'Efficiency') {
                return this.y + '%';
              } else if(this.series.name == 'Awakening Count') {
                return this.y;
              } else {
                return this.y + 'min';
              }
            }},
         series: [{
            yaxis: 1,
            type: 'spline',
            name: 'Start time',
            data: [<%
sleeps.each do |sleep|
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.startTime.gsub(':', '') %>],<%
end %>]
          },{
            name: 'In Bed',
            data: [<%
sleeps.each do |sleep|
  if not sleep.timeInBed.blank?
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.timeInBed %>],<%
  end
end %>]
         },{
            name: 'Asleep',
            data: [<%
sleeps.each do |sleep|
  if not sleep.minutesAsleep.blank?
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.minutesAsleep %>],<%
  end
end %>]
         },{
            name: 'Awakening Count',
            data: [<%
sleeps.each do |sleep|
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.awakeningsCount %>],<%
end %>]
         },{
            name: 'Minutes awake',
            data: [<%
sleeps.each do |sleep|
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.minutesAwake %>],<%
end %>]
         },{
            name: 'Min. fall asleep',
            data: [<%
sleeps.each do |sleep|
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.minutesToFallAsleep %>],<%
end %>]
         },{
            name: 'Efficiency',
            data: [<%
sleeps.each do |sleep|
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.efficiency %>],<%
end %>]
         },{
            name: 'Min. after wakeup',
            data: [<%
sleeps.each do |sleep|
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.minutesAfterWakeup %>],<%
end %>]
         }]
      });
   });
</script>
