<div id="sleep-graph"></div>
<script type="text/javascript">
var chart1; // globally available
$(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: { renderTo: 'sleep-graph', type: 'line' },
         title: { text: 'Sleep over time' },
         xAxis: { type: 'datetime' },
         yAxis: { title: { text: 'Minutes' } },
         series: [{
            name: 'In Bed',
            data: [<%
sleeps.each do |sleep|
  if not sleep.timeInBed.blank?
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.timeInBed %>],<%
  end
end %>]
         },{
            name: 'Asleep',
            data: [<%
sleeps.each do |sleep|
  if not sleep.minutesAsleep.blank?
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.minutesAsleep %>],<%
  end
end %>]
         },{
            name: 'Awakening Count',
            data: [<%
sleeps.each do |sleep|
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.awakeningsCount %>],<%
end %>]
         },{
            name: 'Minutes awake',
            data: [<%
sleeps.each do |sleep|
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.minutesAwake %>],<%
end %>]
         },{
            name: 'Min. fall asleep',
            data: [<%
sleeps.each do |sleep|
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.minutesToFallAsleep %>],<%
end %>]
         },{
            name: 'Efficiency',
            data: [<%
sleeps.each do |sleep|
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.efficiency %>],<%
end %>]
         },{
            name: 'Min. after wakeup',
            data: [<%
sleeps.each do |sleep|
  %>[Date.parse('<%= sleep.date %>'), <%= sleep.minutesAfterWakeup %>],<%
end %>]
         }]
      });
   });
</script>
