<h1>Listing sleeps</h1>

<%= render :partial => "sleep-graph", :locals => {:sleeps => @sleeps} %>

Show <%= select_tag :per_page, options_for_select([7,14,30,90,180,365], @per_page), :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
<%= will_paginate @sleeps %>

<table class="sleep-data">
<caption>Sleep over time</caption>
<thead>
  <tr>
    <th>Date</th>
    <th>Start</th>
    <th>Time in Bed</th>
    <th>Hours Asleep</th>
    <th>Awakening Count</th>
    <th>Minutes awake</th>
    <th>Minutes to fall asleep</th>
    <th>Efficiency</th>
    <th>Minutes after wakeup</th>
    <td></td>
    <td></td>
  </tr>
</thead>

<tbody>
<% @sleeps.each do |sleep| %>
  <tr class="<%= cycle("odd", "even") %>">
    <th><%= sleep.date %></th>
    <td><%= sleep.startTime %></th>
    <td><%= sleep.timeInBed %></td>
    <td><%= sleep.minutesAsleep %></td>
    <td><%= sleep.awakeningsCount %></td>
    <td><%= sleep.minutesAwake %></td>
    <td><%= sleep.minutesToFallAsleep %></td>
    <td><%= sleep.efficiency %></td>
    <td><%= sleep.minutesAfterWakeup %></td>
    <td><%= link_to 'Show', sleep %></td>
    <td><%= link_to 'Destroy', sleep, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'Clear all', { :controller => 'sleeps', :action => 'clear' }, :confirm => 'Are you sure?'  %>
<%= link_to 'Import Sleep', new_sleep_path %>
