<h1>Listing sleeps</h1>

<%= render :partial => "sleep-graph", :locals => {:sleeps => @sleeps} %>

<table class="sleep-data">
<caption>Sleep over time</caption>
<thead>
  <tr>
    <th>Date</th>
    <th>Duration</th>
    <th>Hours Asleep</th>
    <td></td>
  </tr>
</thead>

<tbody>
<% @sleeps.each do |sleep| %>
  <tr>
    <th><%= sleep.date %></th>
    <td><% if not sleep.duration.blank? %><%= sleep.duration/36000/100.0 %><% end %></td>
    <td><% if not sleep.minutesAsleep.blank? %><%= sleep.minutesAsleep*10/6/100.0 %><% end %></td>
    <td><%= link_to 'Show', sleep %>
    <%= link_to 'Edit', edit_sleep_path(sleep) %>
    <%= link_to 'Destroy', sleep, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Sleep', new_sleep_path %>
