<h1>Listing sleeps</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Duration</th>
    <th>Efficiency</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sleeps.each do |sleep| %>
  <tr>
    <td><%= sleep.date %></td>
    <td><%= sleep.duration %></td>
    <td><%= sleep.efficiency %>%</td>
    <td><%= link_to 'Show', sleep %></td>
    <td><%= link_to 'Edit', edit_sleep_path(sleep) %></td>
    <td><%= link_to 'Destroy', sleep, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sleep', new_sleep_path %>
