<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @sleep.date %>
</p>

<p>
  <b>Awakenings Count:</b>
  <%= @sleep.awakeningsCount %>
</p>

<p>
  <b>Efficiency:</b>
  <%= @sleep.efficiency %>
</p>

<p>
  <b>Minutes To Fall Asleep:</b>
  <%= @sleep.minutesToFallAsleep %>
</p>

<p>
  <b>Minutes Asleep:</b>
  <%= @sleep.minutesAsleep %>
</p>

<p>
  <b>Minutes Awake:</b>
  <%= @sleep.minutesAwake %>
</p>

<p>
  <b>Minutes After Wakeup:</b>
  <%= @sleep.minutesAfterWakeup %>
</p>

<p>
  <b>Start Time:</b>
  <%= @sleep.startTime %>
</p>

<p>
  <b>Time in bed:</b>
  <%= @sleep.timeInBed %>
</p>

<%= link_to 'Back', sleeps_path %>
