<h1>Listing subscriptions</h1>

<table>
  <tr>
    <th>Collection path</th>
    <th>Subscription</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscriptions.each do |subscription| %>
  <tr>
    <td><%= subscription.collection_path %></td>
    <td><%= subscription.subscription_id %></td>
    <td><%= subscription.created_at %></td>
    <td><%= link_to 'Show', subscription %></td>
    <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
    <td><%= link_to 'Destroy', subscription, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h1>Fitbit Subscriptions</h1>

<% if @fitbit_subscriptions %>
<ul>
<% @fitbit_subscriptions.each do |s| %>
  <li><%= s['subscriptionId'] %></li>
<%  end %>
</ul>
<% end %>

<%= link_to 'New Subscription', new_subscription_path %>
