<div id="food-graph"></div>
<script type="text/javascript">
var chart1; // globally available
$(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: { renderTo: 'food-graph', type: 'line' },
         title: { text: 'Food' },
         xAxis: { type: 'datetime' },
         yAxis: { title: { text: 'Counter' } },
         series: [<%
@series.each do |s|
%>{
  name: '<%= s.rpartition('/')[2] %>',
  data: [<%
@foods.each do |a|
%>[Date.parse('<%= a.date %>'), <%= a.send(s.rpartition('/')[2]) %>],<%
end %>],},<%
end
%>{
  name: 'Carbs',
  data: [<%
@foods.each do |a|
%>[Date.parse('<%= a.date %>'), <%= a.carbs %>],<%
end
%>]},
{
  name: 'Carbs %',
  data: [<%
@foods.each do |a|
if a.caloriesIn == 0
  a.caloriesIn = 1
end
%>[Date.parse('<%= a.date %>'), <%= (a.carbs*4/a.caloriesIn*100).floor %>],<%
end
%>]},
{
  name: 'Protein',
  data: [<%
@foods.each do |a|
%>[Date.parse('<%= a.date %>'), <%= a.protein %>],<%
end
%>],
},
{
  name: 'Protein %',
  data: [<%
@foods.each do |a|
if a.caloriesIn == 0
  a.caloriesIn = 1
end
%>[Date.parse('<%= a.date %>'), <%= (a.protein*4/a.caloriesIn*100).floor %>],<%
end
%>]},
{
  name: 'Fat',
  data: [<%
@foods.each do |a|
%>[Date.parse('<%= a.date %>'), <%= a.fat %>],<%
end
%>],
},
{
  name: 'Fat %',
  data: [<%
@foods.each do |a|
if a.caloriesIn == 0
  a.caloriesIn = 1
end
%>[Date.parse('<%= a.date %>'), <%= (a.fat*9/a.caloriesIn*100).floor %>],<%
end
%>],
},
{
  name: 'Fiber',
  data: [<%
@foods.each do |a|
%>[Date.parse('<%= a.date %>'), <%= a.fiber %>],<%
end
%>]
},
      ]});
   });
</script>
