<h1>Listing foods</h1>

<%= render :partial => 'foods-graph', :local => {:foods => @foods, :series => @series} %>

<%= will_paginate @foods %>

<table>
  <tr>
    <th>caloriesIn</th>
    <th>water</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @foods.each do |food| %>
  <tr>
    <td><%= food.caloriesIn %></td>
    <td><%= food.water %></td>
    <td><%= link_to 'Show', food %></td>
    <td><%= link_to 'Edit', edit_food_path(food) %></td>
    <td><%= link_to 'Destroy', food, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Food', new_food_path %>
