<h1>Listing measurements</h1>

<%= render :partial => "measurement-graph", :locals => {:measurements => @measurements} %>

Show <%= select_tag :per_page, options_for_select([7,14,30,90,180,365], @per_page), :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
<%= will_paginate @measurements %>

<table>
  <tr>
    <th>Date</th>
    <th>Weight</th>
    <td></td>
    <td></td>
  </tr>

<% @measurements.each do |measurement| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= measurement.date %></td>
    <td><%= measurement.weight %></td>
    <td><%= link_to 'Show', measurement %></td>
    <td><%= link_to 'Destroy', measurement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Clear all', { :controller => 'measurements', :action => 'clear' }, :confirm => 'Are you sure?'  %>
<%= link_to 'Import Measurement', new_measurement_path %>
