<h1>Listing measurements</h1>

<%= render :partial => "measurement-graph", :locals => {:measurements => @measurements} %>

<table>
  <tr>
    <th>Date</th>
    <th>Weight</th>
    <td></td>
    <td></td>
  </tr>

<% @measurements.each do |measurement| %>
  <tr class="<%= cycle("odd", "even") %>">
    <td><%= measurement.date %></td>
    <td><%= measurement.weight/1.0 %></td>
    <td><%= link_to 'Show', measurement %></td>
    <td><%= link_to 'Destroy', measurement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Import Measurement', new_measurement_path %>
