<ul>
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to 'Activities', activities_path %></li>
  <li><%= link_to 'Sleep', sleeps_path %></li>
  <li><%= link_to 'Measurement', measurements_path %></li>
  <li><%= link_to 'Subscriptions', subscriptions_path %></li>
  <li><%= link_to 'Contact', contact_path %></li>
<% if session[:user_id] != nil %>
  <li><%= link_to 'Logout', logout_path, :method => 'delete' %></li>
<% else %>
  <li><%= link_to 'Log in', login_path %>/<%= link_to 'Register', register_path %></li>
<% end %>
</ul>

