<ul>
  <li><%= link_to t(:home), root_path %></li>
  <li><%= link_to t(:activities), activities_path %></li>
  <li><%= link_to t(:sleeps), sleeps_path %></li>
  <li><%= link_to t(:measurements), measurements_path %></li>
  <li><%= link_to t(:subscriptions), subscriptions_path %></li>
  <li><%= link_to t(:contact), contact_path %></li>
  <li><%= link_to t(:privacy), privacy_path %></li>
<% if session[:user_id] != nil %>
  <li><%= link_to t(:logout), logout_path, :method => 'delete' %></li>
<% else %>
  <li><%= link_to t(:login), login_path %>/<%= link_to t(:register), register_path %></li>
<% end %>
</ul>

